body {
    background-color: #f0f0f0!important;
    font-family: Arial, Helvetica, sans-serif;
}

.payabliPaymentForm {
    padding:0px;
}

.cc-form{
    border: none;
   
}

input.component-input-error{
    border-color: #dc3545!important;
}

/* disabling floating labels */

.payabliPaymentForm label {
    left: 0;
    margin-left: 0;
    padding: 0 !important;
    top: -25px;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    color: #727272;
}

/* Asterisco vermelho para labels obrigatórios */
.payabliPaymentForm label[for="cardNumber"]::before,
.payabliPaymentForm label[for="cardExpirationDate"]::before,
.payabliPaymentForm label[for="cardCvv"]::before,
.payabliPaymentForm label[for="cardZipcode"]::before,
.payabliPaymentForm label[for="achAccountHolderName"]::before,
.payabliPaymentForm label[for="achAccountType"]::before,
.payabliPaymentForm label[for="achRouting"]::before,
.payabliPaymentForm label[for="achAccount"]::before {
  content: "*";
  color: #f04f43;
  margin-right: 4px;
  font-weight: bold;
}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: 1;
    transform: none;
}

.cardNumberContainer input{
    padding: 10px 10px 10px 45px!important;
}

#main-loading-layer{
    background-color: transparent!important;
}

.first-upper.popover-body{
    font-size: 11px;
}

h4{
    font-size: 20px;
}
