body{
  font-family: Arial, Helvetica, sans-serif;
}

#payabliComponentsIframeContainerMethodEmbeded iframe {
  border: solid 1px rgba(255, 255, 255, 0);
  width: 90%;
}

#embeddedComponentStyle label {
  font-size: 13px;
  display: inline-block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #707070;
  text-transform: uppercase;
}

#embeddedComponentStyle button {
  background: #008bce;
  background-image: -webkit-linear-gradient(0deg, #7121ff 0%, #21d4fd 100%);
  background-image: -moz-linear-gradient(0deg, #7121ff 0%, #21d4fd 100%);
  background-image: -ms-linear-gradient(0deg, #7121ff 0%, #21d4fd 100%);
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 15px 30px;
  border-radius: 5px;
  width: 100%;
}

#embeddedComponentStyle {
  display: block;
  width: 500px;
  margin: 50px auto;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 25px 25px;
  background-color: rgb(255, 255, 255);
}

#embeddedComponentStyle .payment-form {
  background-color: #f0f0f0;
  padding: 20px 25px;
  margin: 0 -25px;
}

#embeddedComponentStyle .text-center {
  text-align: center;
}

#embeddedComponentStyle h4 {
  color: #707070;
  font-size: 16px;
  margin-top: 0px;
}

#embeddedComponentStyle .mt-20 {
  margin-top: 20px;
}

#embeddedComponentStyle .text-blue {
  color: #008bce;
}

#embeddedComponentStyle button img {
  vertical-align: middle;
  width: 17px;
  height: 17px;
  opacity: 1;
  margin-right: 8px;
}

#embeddedComponentStyle .tabs {
  margin: 0 -25px;
}

#embeddedComponentStyle .tabs a {
  color: #707070;
  text-decoration: none;
  padding: 0 20px 14px 20px;
  font-size: 12px;
  display: inline-block;
  border-bottom: solid 3px transparent;
  width: 42%;
  text-align: center;
  cursor: pointer;
}

#embeddedComponentStyle .tabs a.active {
  color: #008bce;
  border-bottom: solid 3px #008bce;
}

#embeddedComponentStyle .input-checkbox {
  vertical-align: middle;
  width: 22px;
  height: 22px;
  color: rgb(12, 96, 188);
}

#embeddedComponentStyle .payment-info {
  border-bottom: solid 1px rgb(230, 230, 230);
  padding: 14px 0 10px 0;
  margin: 0 -25px;
}

iframe {
  border: solid 1px transparent;
}
